.search {
    position: relative;
    margin: auto;
    display: inline-block;
}

.search input {
    text-indent: 30px;
    border: 0;
    margin-left: 5px;
    width: 288px;
    outline: none;
    border: 2px solid #444;
    border-radius: 15px;
}

.search .fa-search {
    z-index: 99;
    position: absolute;
    margin: 3.5px 0px 0px 15px;
    font-size: 13px;
    cursor: pointer;
}